* { 
  margin: 0px 0px;
  padding: 0px 0px;
  line-height: 2.0 }

body { 
  font-family: sans-serif;
  margin: 0px auto;
  max-width: 850px;
  width: 100% }

p {
  padding-bottom: 0.75em;
}

blockquote {
  margin-left: 25px;
  color: #777;
}

h1 { 
  padding-top: 13px; 
  padding-bottom: 13px; 
  padding-left: 0px; 
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 175% }

h2 { 
  padding-left: 0px;
  padding-top: 12px; 
  padding-bottom: 10px; 
  font-size: 130% }

h3 { 
  padding-left: 0px;
  padding-top: 7px; 
  padding-bottom: 7px; 
  font-size: 115% }

h4 { 
  padding-left: 0px; 
  padding-top: 0px; 
  padding-bottom: 0px; 
  font-size: 100%;
  font-weight: bold;
  text-decoration: underline }

ul {
  padding-left: 25px;
  padding-bottom: 0.75em }

div.sourceCode { 
  margin-left: 25px;
  padding-bottom: 0.75em  }
div.sourceCode * { font-family: Iosevka, monospace }
code { font-family: Iosevka, monospace }
pre.text { 
  margin-left: 25px;
  padding-bottom: 0.75em  }
