* { line-height: 1.3 }

a {
  color: royalblue;
  text-decoration: none;
}

a:hover {
  color: darkred;
  /* background-color: rgba(65, 105, 225, 0.1); */
}

.title {
  margin-top: 0;
}

body { 
  font-family: 'Roboto';
  color: #000000;
  background-color: #ffffff;
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  text-justify: inter-word;
}

.entries {
  border-spacing: 0;
  width: 100%;
}

.entries tr td:first-child {
  padding-bottom: 1em;
}

.label {
  float: right;
}

.summary-text {
  color: royalblue;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.summary-text:hover {
  color: darkred;
}

summary {
  display: inline;
}
details[open] > summary {
  display: block;
}
details > summary {
  list-style: none;
  cursor: pointer;
}
details > summary::-webkit-details-marker {
  display: none;
}

.extra-notes {
  display: inline;
}
.extra-notes[open] {
  display: block;
}
.extra-notes[open] > summary {
  display: block;
}
