* { line-height: 1.3 }

a {
  color: royalblue;
  text-decoration: none;
}

a:hover {
  background-color: rgba(65, 105, 225, 0.1);
}

body { 
  font-family: 'Roboto';
  color: #000000;
  background-color: #ffffff;
  font-size: 100%;
  margin-left: 15em;
  margin-right: 15em;
  text-align: justify;
  text-justify: inter-word;
}

.entries {
  margin-left: -11em;
  border-spacing: 0;
}

.entries tr td:first-child {
  width: 10em;
  padding-right: 1em;
  text-align: right;
  vertical-align: top;
}

.entries tr td:last-child {
  padding-bottom: 1em;
}

.abstract {
  display: none;
  font-size: 90%;
}